.signup-hero {
  min-height: 35rem;
  background-color: #F5F1D6;
  font-family: 'Couisine', monospace;
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.signup-container > h1 {
  font-weight: bold;
  font-size: 2rem;
}
.signup-container > h3 {
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
}
.signup-container > p {
  text-align: center;
  padding: 1rem 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-btn {
  margin-top: 1rem;
  background-color: #1A1423;
  font-family: inherit;
  border: 0;
  color: white;
  padding: 0.35rem;
}